.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  width: 292px;
  animation-duration: 1000ms;
  margin: 144px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 7px 428px 0 424px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 36px;
  min-height: 16px;
  width: 132px;
  min-width: 72px;
  animation-duration: 1000ms;
  margin: 7px auto 60px 488px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 324px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 328px;
    margin-left: 324px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 398px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(33, 33, 33) !important;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 214px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 218px;
    margin-left: 214px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 370px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 160px;
    margin-left: 92px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: -45px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 172px;
    margin-left: -45px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 252px;
  }
}