.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 523px;
}

.u-section-1 .u-image-1 {
  width: 274px;
  height: 274px;
  background-image: url("images/Profile.png");
  background-position: 50% 50%;
  margin: 149px auto 0 139px;
}

.u-section-1 .u-text-1 {
  margin: -265px 195px 0 468px;
}

.u-section-1 .u-text-2 {
  margin: 20px 421px 60px 493px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 95px;
    margin-left: 368px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 321px;
    margin-left: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 243px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 211px;
    margin-left: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 63px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 121px;
    margin-left: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 66px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 21px;
    margin-left: 93px;
  }
}