body {
  background-color: #222
}

.topnav {
  background-color: #303030;
  overflow: hidden;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  color: #abb5bd;
  float: right;
}

@media (max-width: 500px) {
  .box {
    width: device-width;
    height: auto;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
}

@media (min-width: 500px) and (max-width: 850px) {
  .box {
    width: device-width;
    height: 300px;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
}

@media (min-width: 850px) and (max-width: 1080px) {
  .box {
    width: 800;
    height: 300;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .box {
    width: 34vw;
    height: 25.5vh;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
  .topnav a {
    float: left;
    color: #abb5bd;
    font-size: 0.72vmax;
    text-align: center;
    padding: 0.61vmax 0.7vmax;
    text-decoration: none;
  }
  .box h1 {
    font-size: 1.35vmax;
    color: #04AA6D;
    text-align: center;
  }
  .box p {
    font-size: 0.68vmax;
    color: #ffffff;
    text-align: center;
  }
  footer p {
    position: fixed;
    bottom: 0;
    font-size: 0.68vmax;
    width: 100%;
    color: #ffffff;
    text-align: center;
  }
}

@media (max-width: 1920px), (max-height: 1080px) {
  .topnav a {
    float: left;
    color: #abb5bd;
    font-size: 17px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .box h1 {
    color: #04AA6D;
    text-align: center;
  }
  .box p {
    color: #ffffff;
    text-align: center;
  }
}

@media ((min-height: 400px) and (min-width: 400px)) and ((max-width: 1920px), (max-height: 1080px)) {
  footer p {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
  }
}

@media (max-height: 400px), (max-width: 400px) {
  footer p {
    color: #ffffff;
    text-align: center;
  }
}

.box p a {
  color: #FFA500;
  text-align: center;
}

.box img {
  filter: invert(100%);
}

.boxes .box p button {
  border: none;
  background-color: #303030;
}
