body {
  background-color: #222
}

.topnav {
  background-color: #303030;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #abb5bd;
  font-size: 17px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  color: #abb5bd;
  float: right;
}

@media (max-width: 400px) {
  .box {
    width: device-width;
    height: auto;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
  .footer {
    color: #ffffff;
    text-align: center;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .box {
    width: device-width;
    height: 300px;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
}

@media (min-width: 800px) {
  .box {
    width: 800px;
    height: 300px;
    background-color: #303030;
    padding: 20px;
    margin: 20px auto;
  }
}

@media (min-width: 400px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
  }
}

.box h1 {
  color: #04AA6D;
  text-align: center;
}

.box p {
  color: #ffffff;
  text-align: center;
}

.box p a {
  color: #FFA500;
  text-align: center;
}

.box img {
  filter: invert(100%);
}

.boxes .box p button {
  border: none;
  background-color: #303030;
}

footer p {
  color: #ffffff;
  text-align: center;
}
