.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 548px;
}

.u-section-1 .u-image-1 {
  width: 571px;
  height: 112px;
  object-position: 51.1% 50%;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  width: 554px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 710px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 554px;
    height: 113px;
    object-position: 51.29% 50%;
    margin-top: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 110px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 69px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 367px;
}

.u-section-2 .u-image-1 {
  width: 571px;
  height: 113px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  width: 719px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  width: 726px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 106px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 67px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-image-1 {
  width: 571px;
  height: 113px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  width: 851px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  width: 780px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 106px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 67px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-image-1 {
  width: 571px;
  height: 113px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  width: 677px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 810px;
  margin: 35px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 106px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 67px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-image-1 {
  width: 571px;
  height: 113px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  width: 644px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 900;
  margin: 20px 100px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    height: 112px;
  }

  .u-section-5 .u-text-2 {
    width: 780px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 106px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 67px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}