dialog::backdrop {
  backdrop-filter: blur(5px);
}

dialog button:hover {
  background-color: #ddd;
  color: black;
}

.buttons {
  text-align: center;
}

.box .box-end {
  color: #909090;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box .box-end p {
  color: #606060;
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .box .flex-box p {
    color: white;
    background-color: #04AA6D;
    border-radius: 1vw;
    padding: 0.3vw 0.4vw;
  }
  .box .flex-box {
    gap: 2vw;
    display: flex;
    justify-content: center;
  }
  .box .progress-border {
    border-radius: 1vw;
    background-color: #414141;
    height: 0.8vw;
  }
  .box .progress-border .progress {
    color: white;
    height: 100%;
    padding-left: 0.3vw;
    font-size: 0.6vw;
    border-radius: 1vw;
    background-color: #04AA6D;
  }
  .box p {
    line-height: 0.4vw;
  }
  .buttons button {
    color: white;
    border: none;
    border-radius: 0.34vw;
    font-size: 0.6vw;
    padding: 0.3vw 0.31vw;
    text-decoration: none;
    background-color: #04AA6D;
    cursor: pointer;
  }
  .box .box-end .box-end-right button {
    color: white;
    border: none;
    border-radius: 0.34vw;
    font-size: 0.6vw;
    padding: 0.3vw 0.31vw;
    text-decoration: none;
    background-color: #04AA6D;
    cursor: pointer;
  }
  dialog {
    border: none;
    padding: 1.2vw;
    border-radius: 0.4vw;
    border: 2px solid #04AA6D;
    background-color: #303030;
    text-align: center;
  }
  dialog select,
  dialog button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 0.4vw;
    border-radius: 0.4vw;
    text-align: center;
    font-size: 0.7vw;
  }
  dialog h1 {
    font-size: 1.35vw;
    color: #04AA6D;
    text-align: center;
  }
  dialog label {
    font-size: 0.68vw;
    color: #ffffff;
    text-align: center;
  }
  footer {
    font-size: 0.68vw;
    color: #ffffff;
    text-align: center;
  }
}

@media (max-width: 1920px), (max-height: 1080px) {
  .box .flex-box p {
    color: white;
    background-color: #04AA6D;
    border-radius: 15px;
    padding: 10px 14px;
  }
  .box .flex-box {
    gap: 50px;
    display: flex;
    justify-content: center;
  }
  .box .progress-border {
    border-radius: 20px;
    background-color: #414141;
    height: 20px;
  }
  .box .progress-border .progress {
    color: white;
    height: 100%;
    padding-left: 6px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #04AA6D;
  }
  .box p {
    line-height: 4px;
  }
  .buttons button {
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    padding: 8px 9px;
    text-decoration: none;
    background-color: #04AA6D;
    cursor: pointer;
  }
  .box .box-end .box-end-right button {
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    padding: 8px 9px;
    text-decoration: none;
    background-color: #04AA6D;
    cursor: pointer;
  }
  dialog {
    border: none;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #04AA6D;
    background-color: #303030;
    text-align: center;
  }
  dialog select,
  dialog button {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 7px;
    text-align: center;
    font-size: 16px;
  }
  dialog h1 {
    color: #04AA6D;
    text-align: center;
  }
  dialog label {
    color: #ffffff;
    text-align: center;
  }
  footer {
    color: #ffffff;
    text-align: center;
  }
}
